<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>

    <style>
        nav {
            display: flex;
            position: absolute;
            top: 50px;
            left: 50px;
            justify-content: space-between;
            margin-bottom: 60px;
            padding-bottom: 10px;
            text-transform: uppercase;
        }

        nav ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        nav li {
            list-style-type: none;
            margin-left: 20px;
        }

        nav h1 {
            font-size: 3em;
        }

        nav p,
        nav a {
            color: #777;
            font-weight: 300;
        }

        a {
            color: #222;
            transition: all .5s ease-in-out;
        }

        nav a:hover {
            color: red;
            padding-bottom: 6px;
            font-size: 20px;
            transition: all .5s ease-in-out;

        }
        h1{
            position: relative;
            top: 80px;
        }
    </style>

</head>

<body>
    <nav>
        <ul>
            <li><a href="/">homa</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
        </ul>
    </nav>
    <h1>homa page</h1>
</body>

</html>