<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="auth-page">
    <div class="login">
        <h2>Login</h2>
        <% if (typeof status !=='undefined' ) { %>
            <div class="status">
                <%= status %>
            </div>
            <% } %>
                <form action="/user/login" method="post">
                    <label for="email">Email:</label>
                    <input type="text" name="email" placeholder="Enter your email" required>
                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="Enter your password" required>
                    <input type="submit" value="Login">
                </form>
                <div class="link">
                    <p>Don't have an account? <a href="/register">Sign up</a></p>
                </div>
    </div>
</body>

</html>