<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="auth-page">
    <div class="signup">
        <h2>Register</h2>
        <% if (typeof status !=='undefined' ) { %>
            <div class="status">
                <%= status %>
            </div>
            <% } %>
                <% if (typeof err !=='undefined' ) { %>
                    <div class="status">
                        <%= err %>
                    </div>
                    <% } %>
                        <form action="/user/register" method="post">
                            <label for="name">Name:</label>
                            <input type="text" name="name" placeholder="Enter your name" required>

                            <label for="family">Family:</label>
                            <input type="text" name="family" placeholder="Enter your family name" required>

                            <label for="email">Email:</label>
                            <input type="email" name="email" placeholder="Enter your email" required>

                            <label for="password">Password:</label>
                            <input type="password" name="password" placeholder="Enter your password" required>

                            <label for="level">Level:</label>
                            <select name="level" required>
                                <option value="junior">Junior</option>
                                <option value="midlevel">Mid Level</option>
                                <option value="senior">Senior</option>
                            </select>

                            <input type="submit" value="Sign Up">
                        </form>
                        <div class="link">
                            <p>Already have an account? <a href="/login">Login here</a></p>
                        </div>
    </div>
</body>

</html>